.container {
  margin-top: 100px;
}



.NavWrapper {
  height: 60px;
  width:100%;
  background-color: #f3f3f3;
  position: fixed;
  top:0;
  color: gray;
  
}

.NavWrapper ul {
  display: flex;
  list-style-type: none;
}
.NavWrapper ul li {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}
.NavWrapper ul a {
  color: #9b8e8e;
  padding: 10px;
  text-decoration: none;
}